/* *{
  border: 1px red solid;
} */

html{
  height: 100%;
  width: 100%;
} 

body{
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: blanchedalmond;
}

.action-section {
  display: flex;
  flex-wrap: wrap;
 height: 700px;
 justify-content: center;
}

.grid-container{
  background-color: cadetblue;
  height: 600px;
  width: 550px;
  /* border: 1px black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-row: 33% 33% 33%; */
  gap: 10px;
 
}
#player-1{
  height: 700px;
  width: 200px;
 background-color: black;
 
}

#player-2{
  height: 700px;
  width: 200px;
  background-color: aliceblue;
  
}

.token-box{
  border: none;
  background-color: blanchedalmond;
  color: currentColor;
}

.token-box:disabled{
  background-color: red;
}
